@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
    --green: #00e77f;
    --white: #fff;
    --light-white: #aaa;
    --black: #3d3d3d;
    --light-bg: #4b4b4b;
}

* {
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    /* text-transform: capitalize; */
}

*::selection {
    background-color: var(--white);
    color: var(--black);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 5rem;
}

body {
    background-color: var(--black);
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding: 1rem 3rem;
}

.btn:hover {
    background-color: var(--white);
    color: var(--black);
}

.heading {
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    /* text-transform: uppercase; */
}

.heading span {
    color: var(--green);
    /* text-transform: uppercase; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--light-bg);
}

.header .flex {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo {
    font-size: 2.5rem;
    color: var(--white);
}

.header .flex .navbar a {
    margin-left: 2rem;
    color: var(--light-white);
    font-size: 2rem;
}

.header .flex .navbar a:hover {
    color: var(--green);
}

#menu-btn {
    cursor: pointer;
    color: var(--white);
    font-size: 2.5rem;
    display: none;
}

.home {
    margin-top: 6rem;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 40rem;
    text-align: center;
}

.home .row .image {
    flex: 1 1 40rem;
}

.home .row .image img {
    width: 100%;
}

.home .row .content h3 {
    margin-bottom: 1rem;
    font-size: 10rem;
    color: var(--white);
    line-height: 1;
}

.home .row .content h3 span {
    color: var(--green);
}

.count .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.count .box-container .box {
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.count .box-container .box i {
    font-size: 5rem;
    color: var(--green);
}

.count .box-container .box .content h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}

.count .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--light-white);
}

.about .row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .row .image {
    flex: 1 1 40rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    text-align: center;
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3rem;
    color: var(--white);
}

.about .row .content p {
    padding: 1rem 0;
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-white);
}

.courses .slide {
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    text-align: center;
    padding: 2rem;
    margin-bottom: 4rem;
    user-select: none;
}

.courses .slide img {
    height: 25rem;
    width: 100%;
}

.courses .slide h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    color: var(--white);
}

.courses .slide p {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-white);
}

.swiper-pagination-bullet {
    background-color: var(--white);
}

.swiper-pagination-bullet-active {
    background-color: var(--green);
}

.teachers .slide {
    position: relative;
    overflow: hidden;
    margin-bottom: 4rem;
    user-select: none;
}

.teachers .slide img {
    /* height: 55rem; */
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.teachers .slide h3 {
    margin-top: 1.5rem;
    font-size: 2rem;
    text-align: center;
    color: var(--white);
}

.teachers .slide .share {
    position: absolute;
    top: 1rem;
    left: -10rem;
}

.teachers .slide:hover .share {
    left: 2rem;
}

.teachers .slide .share a {
    display: block;
    margin-top: 1rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 0.5rem;
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    font-size: 2rem;
}

.teachers .slide .share a:hover {
    background-color: var(--green);
    color: var(--white);
}

.reviews-slider .slide {
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    padding: 2rem;
    margin-bottom: 4rem;
    user-select: none;
}

.reviews-slider .slide p {
    line-height: 2;
    font-size: 1.6rem;
    color: var(--light-white);
}

.reviews-slider .slide .user {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.reviews-slider .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews-slider .slide .user h3 {
    font-size: 2rem;
    color: var(--white);
    margin-bottom: 0.7rem;
}

.reviews-slider .slide .user .stars i {
    font-size: 1.5rem;
    color: var(--green);
}

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image {
    flex: 1 1 40rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row form {
    flex: 1 1 40rem;
}

.contact .row form .box {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    font-size: 1.8rem;
    color: var(--white);
    padding: 1.4rem;
    text-transform: none;
}

.contact .row form span {
    font-size: 1.6rem;
    color: var(--light-white);
}

.contact .row form .radio {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.contact .row form .radio label {
    font-size: 1.6rem;
    color: var(--light-white);
    margin-left: 0.5rem;
    cursor: pointer;
}

.contact .row form .radio #female {
    margin-left: 2rem;
}

.contact .row form .radio input {
    appearance: none;
    height: 2rem;
    width: 2rem;
    background-color: var(--light-white);
    cursor: pointer;
}

.contact .row form .radio input:checked {
    background-color: var(--green);
    border-radius: 5rem;
}

.contact .row form .radio #male:checked ~ label[for="male"] {
    color: var(--green);
}

.contact .row form .radio #female:checked ~ label[for="female"] {
    color: var(--green);
}

.footer {
    background-color: var(--light-bg);
    text-align: center;
    /* padding-bottom: 7rem; */
}

.footer .share a {
    margin: 0 0.3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--white);
    background-color: var(--black);
}

.footer .share a:hover {
    background-color: var(--green);
}

.footer .credit {
    margin-top: 2.5rem;
    padding: 1.5rem;
    padding-top: 2.5rem;
    border-top: 0.1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--light-white);
}

.footer .credit span {
    color: var(--green);
}

/* media queries  */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .home .row .content h3 {
        font-size: 8rem;
    }
}

@media (max-width: 768px) {
    #menu-btn {
        display: inline-block;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .flex .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        border-top: 0.1rem solid var(--light-white);
        border-bottom: 0.1rem solid var(--light-white);
        background-color: var(--light-bg);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .flex .navbar a {
        display: block;
        margin: 2rem;
    }

    .home .row .content h3 {
        font-size: 6rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .row .content h3 {
        font-size: 5rem;
    }

    .heading {
        font-size: 3rem;
    }
}

.count .box-container a .box:hover {
    transition-duration: 0.5s;
    position: relative;
    box-shadow: #2c2b2b 10px 10px 0px;
}

.bo {
    height: 400px;
}

header section .logo span {
    color: var(--green);
}

header section .logo {
    text-decoration: none;
}

.c {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.c1 {
    /* background-color: red; */
    /* height: 30vh; */
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c1 div {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.c1 div div div {
    display: flex;
    flex-direction: column;
}

.block {
    height: 100px;
}

.c1 div div div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.c1 div div div div h1 {
    color: var(--green);
    font-size: 3rem;
    font-family: "Rubik", sans-serif;
}

@media (max-width: 768px) {
    .c1 {
        width: 60%;
    }
    .dissapear {
        display: none;
    }
}

.c1 div a :hover {
    color: var(--light-white);
    border: 10px;
}

.containereffect {
    padding: 2rem;
    transition-duration: 0.5;
}

.containereffect:hover {
    background-color: var(--light-bg);
    border-radius: 1.5rem;
    box-shadow: #2c2b2b 15px 15px 0px;
    transition-duration: 0.5;
}

.i-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /* width: 60vh; */
    overflow: hidden;
    /* padding-top: 56.25%;  */
}

iframe {
    /* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none; */
    width: 70vh;
}

.minheading {
    font-size: 3rem;
}

.src1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left h3 {
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    align-items: flex-start;
}

/* couses page */

.count1 .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
    gap: 1.5rem;
    align-items: flex-start;
}

.count1 .box-container .box {
    margin-top: 3rem;
    background-color: var(--light-bg);
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2.5rem;
    transition-duration: 0.5s;
}

.count1 .box-container .box i {
    font-size: 5rem;
    color: var(--green);
}

.count1 .box-container .box .content {
    padding: 2rem;
}

.count1 .box-container .box .content h3 {
    font-size: 4rem;
    color: var(--white);
    margin-bottom: 0.5rem;
}

.count1 .box-container .box .content ul a li {
    font-size: 2rem;
    color: var(--light-white);
    margin-left: 4rem;
}

.count1 .box-container .box .content ul a li:hover {
    margin-left: 5rem;
    transition-duration: 0.2s;
    font-size: 2.5rem;
    color: white;
}

.count1 .box-container .box .content p {
    font-family: "Courier New", Courier, monospace;
    font-size: 2rem;
    color: var(--light-white);
}

.count1 .box-container .box:hover {
    transition-duration: 0.2s;
    position: relative;
    box-shadow: #00e77f 0px 0px 20px 5px;
}

.hr {
    height: 0.5rem;
    background-color: var(--green);
    border-radius: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.video-couple-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: blue; */
    width: 100%;
}

.video {
    position: relative;
    width: 100%;
    overflow: hidden;
    /* padding-top: 56.25%; */
    /* background-color: green; */
    /* padding-left: 5rem;
    padding-right: 5rem; */
}

.video iframe {
    /* width: 60vh; */
    padding: 2rem;
    /* position: absolute; */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    /* height: 100%; */
    height: 30rem;
    border: none;
}

@media (max-width: 768px) {
    .video-couple-container {
        flex-direction: column;
    }
}

.g-video-container {
    /* background-color: red; */
    border-radius: 1rem;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 5rem;
}

/* sign in */

.signin {
    margin-top: 5rem;
}

.signin a {
    color: var(--white);
    margin-left: 4rem;
}

.signin h1 {
    color: var(--green);
    font-size: 5rem;
    margin-bottom: 2rem;
}

.signin a:hover {
    text-decoration: underline;
}

.signin img {
    padding: 10rem;
}

.contact .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row .image {
    flex: 1 1 40rem;
}

.contact .row .image img {
    width: 100%;
}

.contact .row .ddd {
    flex: 1 1 40rem;
}

.contact .row .box {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    background-color: var(--light-bg);
    font-size: 1.8rem;
    color: var(--white);
    padding: 1.4rem;
    text-transform: none;
}

.contact .row span {
    font-size: 1.6rem;
    color: var(--light-white);
}

.contact .row .radio {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.contact .row .radio label {
    font-size: 1.6rem;
    color: var(--light-white);
    margin-left: 0.5rem;
    cursor: pointer;
}

.contact .row .radio #female {
    margin-left: 2rem;
}

.contact .row .radio input {
    appearance: none;
    height: 2rem;
    width: 2rem;
    background-color: var(--light-white);
    cursor: pointer;
}

.contact .row .radio input:checked {
    background-color: var(--green);
    border-radius: 5rem;
}

.contact .row .radio #male:checked ~ label[for="male"] {
    color: var(--green);
}

.contact .row .radio #female:checked ~ label[for="female"] {
    color: var(--green);
}

.new-img-container {
    position: absolute;
    /* background-color: red; */
    width: 100%;
    margin-top: 15rem;
    /* margin-left: 38rem; */

    display: flex;
    justify-content: flex-end;
}

.new-img-container img {
    width: 17rem;
    rotate: 30deg;
    margin-top: 2rem;
}

.robo {
    font-family: "Courier New", Courier, monospace;
    color: #00e77f;
    font-weight: bold;
}

.navbar {
    z-index: 1000;
}

.logo {
    z-index: 1000;
}

.z1 {
    z-index: 1000;
}

@media (max-width: 768px) {
    .new-img-container {
        display: none;
    }
}
